<header #header class="wrapper">
  <span #menuIcon class="material-icons" (click)="toggleNav(header, menuIcon)">
    menu
  </span>
  <nav>
    <ul>
      <li routerLink="/products" routerLinkActive="active" (click)="toggleNav(header, menuIcon)">
        <span class="material-icons">
          view_list
        </span>
        Products
      </li>
      <li routerLink="/shopping-cart" routerLinkActive="active" (click)="toggleNav(header, menuIcon)">
        <span class="material-icons">
          shopping_cart
        </span>
        Shopping Cart
      </li>
    </ul>
  </nav>
  <div>
    Angular Ecommerce
  </div>
  <span class="material-icons" routerLink="/shopping-cart">
    shopping_cart
  </span>
</header>
